Repository futugyou/goproject: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws-web, identity-center, openai-web, infr-project, alphavantage-server

Added readme to platform project view model
  infr-project/application/platform_convert.go
  infr-project/view_models/platform.go
Due: infr-project

Updated swagger doc for `readme`
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
Due: infr-project

Added domaincore project
  domaincore/domain/aggregate.go
  domaincore/domain/event.go
  domaincore/domain/repository.go
  domaincore/domain/retriever.go
  domaincore/domain/service.go
  domaincore/domain/snapshot.go
  domaincore/domain/sourcing.go
  domaincore/domain/unit_of_work.go
  domaincore/go.mod
Due: none

Added readme to domaincore peoject
  domaincore/README.md
Due: none

Refactored event application logic in RetrieveSpecificVersion into separate methods
  domaincore/domain/service.go
Due: none

Added infrastructure to domaincore project
  domaincore/README.md
  domaincore/infrastructure/event_publisher.go
  domaincore/infrastructure/event_store.go
  domaincore/infrastructure/snapshot_store.go
Due: none

Updated readme
  README.md
Due: none

Update markdownlint configuration to increase line length limit to 250
  .github/workflows/.markdownlint.json
  .github/workflows/alphavantage-data.yml
  .github/workflows/syncdata.yml
  README.md
Due: none

Updated alphavantage server readme
  README.md
  alphavantage-server/README.md
  alphavantage-server/doc/images/arch.drawio.png
Due: alphavantage-server

Updated alphavantage server readme added server status
  README.md
  alphavantage-server/README.md
Due: alphavantage-server

Updated aws server readme
  README.md
  aws-web/doc/01.awsconfig.md
  aws-web/doc/images/arch.drawio.png
  aws-web/readme.md
Due: aws-web

Added base application service changed UnitOfWork interface name
  domaincore/application/service.go
  domaincore/domain/unit_of_work.go
Due: none

Remoce async method from UnitOfWork
  infr-project/application/service.go
  infr-project/command/register.go
  infr-project/domain/unit_of_work.go
  infr-project/go.mod
  infr-project/infrastructure_memory/memory_unit_of_work.go
  infr-project/infrastructure_mongo/mongo_unit_of_work.go
  infr-project/registry/component/unit_memory.go
  infr-project/registry/component/unit_mongo.go
  infr-project/registry/unit/registry.go
Due: infr-project

Remove async mothed from repository
  infr-project/application/platform.go
  infr-project/application/vault.go
  infr-project/domain/repository.go
  infr-project/infrastructure_mongo/base_repository.go
  infr-project/infrastructure_mongo/platform_repository.go
  infr-project/infrastructure_mongo/project_repository.go
  infr-project/infrastructure_mongo/resource_query_repository.go
  infr-project/infrastructure_mongo/vault_repository.go
  infr-project/platform/repository.go
  infr-project/project/repository.go
  infr-project/vault/repository.go
  infr-project/vault/vault.go
Due: infr-project

Remove async mothed from store
  infr-project/infrastructure/event_store.go
  infr-project/infrastructure/snapshot_store.go
  infr-project/infrastructure_memory/memory_event_store.go
  infr-project/infrastructure_memory/memory_snapshot_store.go
  infr-project/infrastructure_mongo/mongo_event_store.go
  infr-project/infrastructure_mongo/mongo_snapshot_store.go
  infr-project/registry/component/event_store_memory.go
  infr-project/registry/component/event_store_mongo.go
  infr-project/registry/component/snapshot_store_memory.go
  infr-project/registry/component/snapshot_store_mongo.go
  infr-project/registry/event_store/registry.go
  infr-project/registry/snapshot_store/registry.go
Due: infr-project

Remove async method fron vault provider
  infr-project/vault_provider/factory.go
  infr-project/vault_provider/provider.go
Due: infr-project

Remove async method from `registry`
  infr-project/registry/component/event_store_memory.go
  infr-project/registry/component/event_store_mongo.go
  infr-project/registry/component/snapshot_store_memory.go
  infr-project/registry/component/snapshot_store_mongo.go
  infr-project/registry/component/unit_memory.go
  infr-project/registry/component/unit_mongo.go
  infr-project/registry/event_store/registry.go
  infr-project/registry/snapshot_store/registry.go
  infr-project/registry/unit/registry.go
Due: infr-project

Remove async from platfrom provider
  infr-project/application/platform.go
  infr-project/application/platform_convert.go
  infr-project/platform_provider/circleci.go
  infr-project/platform_provider/factory.go
  infr-project/platform_provider/github.go
  infr-project/platform_provider/provider.go
  infr-project/platform_provider/vercel.go
Due: infr-project

Updated repository in domaincore
  domaincore/domain/repository.go
Due: none

Added mongodb impl for domaincore
  domaincore/mongoimpl/base_repository.go
  domaincore/mongoimpl/client.go
  domaincore/mongoimpl/go.mod
  domaincore/mongoimpl/go.sum
  domaincore/mongoimpl/mongo_event_store.go
  domaincore/mongoimpl/mongo_snapshot_store.go
  domaincore/mongoimpl/mongo_unit_of_work.go
Due: none

Added domain to resource query service
  domaincore/mongoimpl/base_repository.go
  infr-project/microservices/resourcequeryservice/domain/repository.go
  infr-project/microservices/resourcequeryservice/domain/resource.go
  infr-project/microservices/resourcequeryservice/go.mod
Due: infr-project

Added infrastructure to resource query service
  infr-project/microservices/resourcequeryservice/infrastructure/resource.go
Due: infr-project

Added application to resource query service
  infr-project/microservices/resourcequeryservice/application/resource.go
  infr-project/microservices/resourcequeryservice/viewmodel/resource.go
Due: infr-project

Added gin to resource query service
  infr-project/microservices/resourcequeryservice/main.go
  infr-project/microservices/resourcequeryservice/options/options.go
  infr-project/microservices/resourcequeryservice/routes/gin-routes.go
  infr-project/microservices/resourcequeryservice/routes/v1/resource-routes.go
Due: infr-project

Added openapi doc to resource query service
  infr-project/microservices/resourcequeryservice/docs/docs.go
  infr-project/microservices/resourcequeryservice/docs/swagger.json
  infr-project/microservices/resourcequeryservice/docs/swagger.yaml
  infr-project/microservices/resourcequeryservice/go.sum
  infr-project/microservices/resourcequeryservice/routes/gin-routes.go
Due: infr-project

Added readme to resource query service
  infr-project/microservices/resourcequeryservice/README.md
Due: infr-project

Updated domaincore, add tags and cloner interface
  domaincore/README.md
  domaincore/domain/aggregate.go
  domaincore/domain/event.go
  domaincore/domain/service.go
  domaincore/domain/sourcing.go
  domaincore/mongoimpl/mongo_event_store.go
Due: none

Added qstash dispatcher impl
  domaincore/qstashdispatcherimpl/dispatcher.go
  domaincore/qstashdispatcherimpl/go.mod
  domaincore/qstashdispatcherimpl/go.sum
Due: none

Fixed error, change `Id` to `ID`
  infr-project/microservices/resourcequeryservice/application/resource.go
  infr-project/microservices/resourcequeryservice/go.mod
  infr-project/microservices/resourcequeryservice/go.sum
  infr-project/microservices/resourcequeryservice/viewmodel/resource.go
Due: infr-project

Added resource service
  infr-project/microservices/resourceservice/application/resource.go
  infr-project/microservices/resourceservice/docs/docs.go
  infr-project/microservices/resourceservice/domain/event.go
  infr-project/microservices/resourceservice/domain/factory.go
  infr-project/microservices/resourceservice/domain/resource.go
  infr-project/microservices/resourceservice/domain/resource_type.go
  infr-project/microservices/resourceservice/domain/serialization.go
  infr-project/microservices/resourceservice/go.mod
  infr-project/microservices/resourceservice/go.sum
  infr-project/microservices/resourceservice/main.go
  infr-project/microservices/resourceservice/options/options.go
  infr-project/microservices/resourceservice/routes/gin-routes.go
  infr-project/microservices/resourceservice/routes/v1/resource-routes.go
  infr-project/microservices/resourceservice/viewmodel/resource.go
Due: infr-project

Added openapi docs to resource service
  infr-project/microservices/resourceservice/README.md
  infr-project/microservices/resourceservice/docs/swagger.json
  infr-project/microservices/resourceservice/docs/swagger.yaml
Due: infr-project

Added vault service, added domain and infrastructure
  infr-project/microservices/vaultservice/domain/repository.go
  infr-project/microservices/vaultservice/domain/serialization.go
  infr-project/microservices/vaultservice/domain/storage_media.go
  infr-project/microservices/vaultservice/domain/vault.go
  infr-project/microservices/vaultservice/domain/vault_state.go
  infr-project/microservices/vaultservice/domain/vault_type.go
  infr-project/microservices/vaultservice/go.mod
  infr-project/microservices/vaultservice/go.sum
  infr-project/microservices/vaultservice/infrastructure/repository.go
Due: infr-project

Added vault provider
  infr-project/microservices/vaultservice/go.mod
  infr-project/microservices/vaultservice/go.sum
  infr-project/microservices/vaultservice/infrastructure/repository.go
  infr-project/microservices/vaultservice/provider/aws.go
  infr-project/microservices/vaultservice/provider/azure.go
  infr-project/microservices/vaultservice/provider/factory.go
  infr-project/microservices/vaultservice/provider/hashicorp.go
  infr-project/microservices/vaultservice/provider/provider.go
Due: infr-project

Updated vault search repository
  infr-project/microservices/vaultservice/domain/repository.go
  infr-project/microservices/vaultservice/infrastructure/repository.go
Due: infr-project

Added vault view model
  infr-project/microservices/vaultservice/viewmodel/vault.go
Due: infr-project

Added vault application
  infr-project/microservices/vaultservice/application/event.go
  infr-project/microservices/vaultservice/application/vault.go
Due: infr-project

Added gin to vault service, and config api route
  infr-project/microservices/vaultservice/go.mod
  infr-project/microservices/vaultservice/go.sum
  infr-project/microservices/vaultservice/main.go
  infr-project/microservices/vaultservice/options/options.go
  infr-project/microservices/vaultservice/routes/gin-routes.go
  infr-project/microservices/vaultservice/routes/v1/route.go
Due: infr-project

Added openapi docs
  infr-project/microservices/vaultservice/docs/docs.go
  infr-project/microservices/vaultservice/docs/swagger.json
  infr-project/microservices/vaultservice/docs/swagger.yaml
  infr-project/microservices/vaultservice/routes/gin-routes.go
Due: infr-project

Updated get vault, use `ShouldBindQuery`
  infr-project/microservices/vaultservice/routes/v1/route.go
  infr-project/microservices/vaultservice/viewmodel/vault.go
Due: infr-project

Path conditions:
  aws-web: any of: aws-web/.*
  identity-center: any of: identity-center/.*
  openai-web: any of: openai-web/.*
  infr-project: any of: infr-project/.*
  alphavantage-server: any of: alphavantage-server/.*
