Repository futugyou/goproject: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws-web, identity-center, openai-web, infr-project, alphavantage-server

Updated gofile sdk added get/search api, but it need premium account
  gofile_sdk/content.go
  gofile_sdk/gofile.go
Due: none

Updated gofile sdk Added account api
  gofile_sdk/account.go
Due: none

Added screenshot api and implement
  infr-project/.env.template
  infr-project/go.mod
  infr-project/infrastructure/screenshot.go
  infr-project/infrastructure_screenshot/screenshot.go
Due: infr-project

Updated screenshot implement added screenshot factory
  infr-project/infrastructure_screenshot/screenshot.go
Due: infr-project

Update platform project added ImageUrl filed
  infr-project/application/platform_convert.go
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
  infr-project/platform/project.go
  infr-project/platform/serialization_project.go
  infr-project/routes/v1/tool-routes.go
  infr-project/view_models/platform.go
Due: infr-project

Updated platform service use screenshot server
  infr-project/.env.template
  infr-project/api/webhook.go
  infr-project/application/platform.go
  infr-project/controller/platform.go
Due: infr-project

Updated screenshot sdk use context
  screenshot_sdk/apiflash.go
  screenshot_sdk/screenshotmachine.go
Due: none

Added options to mapping all env vaule
  infr-project/.env.template
  infr-project/options/options.go
Due: infr-project

Updated event publisher added publisher registry
  infr-project/infrastructure/event_publisher.go
  infr-project/infrastructure_qstash/qstash_event_publisher.go
  infr-project/options/options.go
Due: infr-project

Updated event store added store registry
  infr-project/infrastructure/event_store.go
  infr-project/infrastructure_memory/memory_event_store.go
  infr-project/options/options.go
Due: infr-project

Updated same registry updated naming
  infr-project/infrastructure/event_publisher.go
  infr-project/infrastructure/event_store.go
  infr-project/options/options.go
Due: infr-project

Updated snapshot store added snapshot registry
  infr-project/infrastructure/snapshot_store.go
  infr-project/infrastructure_memory/memory_snapshot_store.go
Due: infr-project

Fixed component registry name
  infr-project/infrastructure_memory/memory_event_store.go
  infr-project/infrastructure_memory/memory_snapshot_store.go
Due: infr-project

Updated unitofwork added registry
  infr-project/domain/unit_of_work.go
  infr-project/infrastructure_memory/memory_unit_of_work.go
Due: infr-project

Updated screenshot added registry
  infr-project/infrastructure/screenshot.go
Due: infr-project

Updated component registry added registry folder
  infr-project/domain/unit_of_work.go
  infr-project/infrastructure/event_publisher.go
  infr-project/infrastructure/event_store.go
  infr-project/infrastructure/screenshot.go
  infr-project/infrastructure/snapshot_store.go
  infr-project/infrastructure_memory/memory_event_store.go
  infr-project/infrastructure_memory/memory_snapshot_store.go
  infr-project/infrastructure_memory/memory_unit_of_work.go
  infr-project/infrastructure_qstash/qstash_event_publisher.go
  infr-project/registry/component/memory_event_store.go
  infr-project/registry/component/memory_snapshot_store.go
  infr-project/registry/component/publisher_qstash.go
  infr-project/registry/component/unit_memory.go
  infr-project/registry/event_store/registry.go
  infr-project/registry/publisher/registry.go
  infr-project/registry/registry.go
  infr-project/registry/screenshot/registry.go
  infr-project/registry/snapshot_store/registry.go
  infr-project/registry/unit/registry.go
Due: infr-project

Added mongodb component init context maybe in parameter
  infr-project/registry/component/mongo_event_store.go
  infr-project/registry/event_store/registry.go
Due: infr-project

Updated all registry added context parameter
  infr-project/registry/component/memory_event_store.go
  infr-project/registry/component/memory_snapshot_store.go
  infr-project/registry/component/mongo_event_store.go
  infr-project/registry/component/publisher_qstash.go
  infr-project/registry/component/unit_memory.go
  infr-project/registry/event_store/registry.go
  infr-project/registry/publisher/registry.go
  infr-project/registry/screenshot/registry.go
  infr-project/registry/snapshot_store/registry.go
  infr-project/registry/unit/registry.go
Due: infr-project

Updated same reegistry file name
  infr-project/registry/component/event_store_memory.go
  infr-project/registry/component/event_store_mongo.go
  infr-project/registry/component/snapshot_store_memory.go
Due: infr-project

Added snapshot store mongodb registry
  infr-project/registry/component/snapshot_store_mongo.go
Due: infr-project

Added mongo unit of work registry
  infr-project/registry/component/unit_mongo.go
Due: infr-project

Updated openai project changed project name
  README.md
  ai-extension/common/errorutils/error.go
  ai-extension/common/httputils/httpClient.go
  ai-extension/common/httputils/stream.go
  ai-extension/go.mod
  ai-extension/go.sum
  ai-extension/openai/audio.go
  ai-extension/openai/audioformattype/type.go
  ai-extension/openai/chat.go
  ai-extension/openai/chatrole/chatrole.go
  ai-extension/openai/common.go
  ai-extension/openai/completions.go
  ai-extension/openai/edits.go
  ai-extension/openai/embeddings.go
  ai-extension/openai/files.go
  ai-extension/openai/fine-tunes.go
  ai-extension/openai/imageformattype/type.go
  ai-extension/openai/images.go
  ai-extension/openai/imagesize/imagesize.go
  ai-extension/openai/models.go
  ai-extension/openai/moderations.go
  ai-extension/openai/openaiclient.go
  ai-extension/openai/readme.md
  ai-extension/readme.md
  openai-web/Dockerfile
  openai-web/api/chat_sse.go
  openai-web/controllers/audio.go
  openai-web/controllers/chat.go
  openai-web/go.mod
  openai-web/services/apitest.go
  openai-web/services/audio.go
  openai-web/services/chat.go
  openai-web/services/completions.go
  openai-web/services/edits.go
  openai-web/services/fine-tunes.go
  openai-web/services/model.go
Due: openai-web

Updated circelci weorkflow try to fix circelci test
  .circleci/workflow.yml
Due: none

Updated ai extension
  ai-extension/chatcompletion/chatclient.go
  ai-extension/chatcompletion/chatmessage.go
  ai-extension/chatcompletion/chatoptions.go
  ai-extension/chatcompletion/chatresponse.go
  ai-extension/chatcompletion/usage.go
Due: none

Added registry added registry flied and factory method
  infr-project/registry/registry.go
Due: infr-project

Updated registry added more method
  infr-project/registry/registry.go
Due: infr-project

Added metadata and base content
  ai-extension/chatcompletion/metadata.go
  ai-extension/contents/aicontent.go
Due: none

Added data url parse
  ai-extension/contents/datauriparser.go
Due: none

Added data content
  ai-extension/contents/datacontent.go
Due: none

Updated data content
  ai-extension/contents/aicontent.go
  ai-extension/contents/datacontent.go
Due: none

Added FunctionCallContent
  ai-extension/contents/functioncallcontent.go
Due: none

Updated folder
  ai-extension/abstractions/chatcompletion/chatclient.go
  ai-extension/abstractions/chatcompletion/chatmessage.go
  ai-extension/abstractions/chatcompletion/chatoptions.go
  ai-extension/abstractions/chatcompletion/chatresponse.go
  ai-extension/abstractions/chatcompletion/metadata.go
  ai-extension/abstractions/contents/aicontent.go
  ai-extension/abstractions/contents/datacontent.go
  ai-extension/abstractions/contents/datauriparser.go
  ai-extension/abstractions/contents/functioncallcontent.go
  ai-extension/abstractions/contents/functionresultcontent.go
  ai-extension/abstractions/contents/textcontent.go
  ai-extension/abstractions/contents/usagecontent.go
  ai-extension/abstractions/usage.go
Due: none

Updatd UsageDetails add method create UsageDetails when nil
  ai-extension/abstractions/usage.go
Due: none

Updated ChatMessage added more filed
  ai-extension/abstractions/chatcompletion/chatmessage.go
Due: none

Updated ChatResponse added ToChatResponse method
  ai-extension/abstractions/chatcompletion/chatresponse.go
Due: none

Added DelegatingChatClient
  ai-extension/abstractions/chatcompletion/delegatingchatclient.go
Due: none

Added embeddings
  ai-extension/abstractions/embeddings/embedding.go
  ai-extension/abstractions/embeddings/metadata.go
  ai-extension/abstractions/embeddings/options.go
Due: none

Added GeneratedEmbeddings
  ai-extension/abstractions/embeddings/generatedembeddings.go
Due: none

Updated ai content added serialization
  ai-extension/abstractions/contents/aicontent.go
  ai-extension/abstractions/contents/datacontent.go
  ai-extension/abstractions/contents/functioncallcontent.go
  ai-extension/abstractions/contents/functionresultcontent.go
  ai-extension/abstractions/contents/textcontent.go
  ai-extension/abstractions/contents/usagecontent.go
Due: none

Updated chat message and response added serialization
  ai-extension/abstractions/chatcompletion/chatmessage.go
  ai-extension/abstractions/chatcompletion/chatresponse.go
Due: none

Path conditions:
  aws-web: any of: aws-web/.*
  identity-center: any of: identity-center/.*
  openai-web: any of: openai-web/.*
  infr-project: any of: infr-project/.*
  alphavantage-server: any of: alphavantage-server/.*
