Repository futugyou/goproject: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws-web, identity-center, openai-web, infr-project, alphavantage-server

Updated get platform detail, add simple project info
  infr-project/microservices/platformservice/application/provider.go
Due: infr-project

Updated vault service, fix string type response
  infr-project/microservices/platformservice/infrastructure/vault.go
Due: infr-project

Organize project files
  infr-project/api/webhook.go
  infr-project/controller/project.go
  infr-project/controller/resource.go
  infr-project/controller/webhook.go
  infr-project/microservices/platformservice/application/provider.go
  infr-project/microservices/platformservice/provider/github.go
  infr-project/microservices/projectservice/domain/activity_stats.go
  infr-project/microservices/projectservice/domain/service.go
  infr-project/misce/terraform/terraform.go
  infr-project/misce/tmp/main.tf
Due: infr-project

Added sort for propert and secret
  infr-project/microservices/platformservice/application/provider.go
  infr-project/microservices/platformservice/assembler/platform.go
  infr-project/microservices/platformservice/assembler/project.go
Due: infr-project

Updated useAggregateSearch, add platform activate
  infr-project/microservices/platformservice/infrastructure/platform.go
Due: infr-project

Updated platform provider property
  infr-project/microservices/platformservice/provider/circleci.go
  infr-project/microservices/platformservice/provider/github.go
Due: infr-project

Added default jwt when debug mode Updated openapi docs version
  infr-project/microservices/platformservice/routes/routegroup.go
  infr-project/microservices/projectservice/routes/routegroup.go
  infr-project/microservices/resourcequeryservice/routes/routegroup.go
  infr-project/microservices/resourceservice/routes/routegroup.go
  infr-project/microservices/vaultservice/routes/routegroup.go
  infr-project/routes/gin-routes.go
Due: infr-project

Remove ProviderProject when get platform
  infr-project/microservices/platformservice/application/provider.go
  infr-project/microservices/platformservice/infrastructure/internal/entity/project.go
  infr-project/microservices/platformservice/viewmodel/callback.go
  infr-project/microservices/platformservice/viewmodel/project.go
Due: infr-project

Added permissions to github action
  .github/workflows/alphavantage-data.yml
  .github/workflows/alphavantage-preview.yaml
  .github/workflows/alphavantage-production.yaml
  .github/workflows/aws-vercel-preview.yaml
  .github/workflows/aws-vercel-production.yaml
  .github/workflows/empty-preview-yomawari.yml
  .github/workflows/empty-preview.yml
  .github/workflows/identity-vercel-preview.yaml
  .github/workflows/identity-vercel-production.yaml
  .github/workflows/openAI-vercel-preview.yaml
  .github/workflows/openAI-vercel-production.yaml
  .github/workflows/project-vercel-preview.yaml
  .github/workflows/project-vercel-production.yaml
  .github/workflows/syncdata.yml
Due: none

Updated openai web vercel config
  openai-web/Dockerfile
  openai-web/vercel.json
Due: openai-web

Updated platform webhook sync
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
  infr-project/microservices/platformservice/application/callback.go
  infr-project/microservices/platformservice/application/project.go
  infr-project/microservices/platformservice/docs/docs.go
  infr-project/microservices/platformservice/docs/swagger.json
  infr-project/microservices/platformservice/docs/swagger.yaml
  infr-project/microservices/platformservice/viewmodel/project.go
Due: infr-project

Updated Projectarium readme
  infr-project/docs/development.md
  infr-project/microservices/platformservice/README.md
  infr-project/microservices/resourceservice/README.md
  infr-project/microservices/vaultservice/README.md
  infr-project/readme.md
Due: infr-project

Added user domain
  identity-server/go.mod
  identity-server/go.sum
  identity-server/pkg/domain/user.go
  identity-server/pkg/domain/userlogin.go
  identity-server/pkg/domain/userloginrepository.go
  identity-server/pkg/domain/userrepository.go
Due: none

Added user appliction
  identity-server/pkg/application/user.go
  identity-server/pkg/viewmodel/user.go
Due: none

Check user name/email
  identity-server/pkg/application/user.go
  identity-server/pkg/domain/user.go
  identity-server/pkg/viewmodel/user.go
Due: none

Added create user appliction
  identity-server/pkg/application/email.go
  identity-server/pkg/application/user.go
  identity-server/pkg/viewmodel/user.go
Due: none

Use sendgrid-go to send verify email
  identity-server/go.mod
  identity-server/go.sum
  identity-server/pkg/application/email.go
  identity-server/pkg/application/user.go
  identity-server/pkg/infrastructure/email.go
  identity-server/pkg/options/options.go
Due: none

Updated email service
  identity-server/pkg/application/email.go
  identity-server/pkg/dto/email.go
  identity-server/pkg/infrastructure/email.go
Due: none

Updated user create method
  identity-server/pkg/application/user.go
  identity-server/pkg/options/options.go
Due: none

Added help method to generate client credentials
  identity-server/pkg/security/rand.go
Due: none

Addec client domain
  identity-server/pkg/domain/client.go
Due: none

Added user login
  identity-server/pkg/application/user.go
  identity-server/pkg/domain/userlogin.go
  identity-server/pkg/viewmodel/user.go
Due: none

Updated auth user
  identity-server/pkg/domain/user.go
Due: none

Updated auth client
  identity-server/pkg/application/user.go
  identity-server/pkg/domain/client.go
  identity-server/pkg/domain/user.go
Due: none

Added authorization
  identity-server/pkg/domain/auth.go
Due: none

Added token
  identity-server/pkg/domain/token.go
  identity-server/pkg/domain/user.go
Due: none

Updated token/code generate
  identity-server/pkg/domain/auth.go
  identity-server/pkg/domain/client.go
  identity-server/pkg/domain/token.go
  identity-server/pkg/security/rand.go
Due: none

Updated token domain
  identity-server/pkg/domain/auth.go
  identity-server/pkg/domain/token.go
Due: none

Updated token domain
  identity-server/pkg/domain/token.go
Due: none

Adjust the auth domain directory structure
  extensions/array.go
  identity-server/go.mod
  identity-server/go.sum
  identity-server/pkg/application/user.go
  identity-server/pkg/domain/auth/auth.go
  identity-server/pkg/domain/client/client.go
  identity-server/pkg/domain/token/token.go
  identity-server/pkg/domain/user/user.go
  identity-server/pkg/domain/user/userlogin.go
  identity-server/pkg/domain/user/userloginrepository.go
  identity-server/pkg/domain/user/userrepository.go
Due: none

Updated user domain package name
  identity-server/pkg/domain/user/user.go
  identity-server/pkg/domain/user/userlogin.go
  identity-server/pkg/domain/user/userloginrepository.go
  identity-server/pkg/domain/user/userrepository.go
Due: none

Added user repository implement
  identity-server/go.mod
  identity-server/pkg/domain/user/userrepository.go
  identity-server/pkg/infrastructure/userrepository.go
Due: none

Updated user application
  identity-server/pkg/application/user.go
Due: none

Added ag-ui sdk
  openai-web/agentic/agentic.go
  openai-web/api/agui.go
  openai-web/go.mod
  openai-web/go.sum
  openai-web/vercel.json
Due: openai-web

Added first adk agent
  openai-web/agentic/agents/time_agent.go
  openai-web/api/agui.go
  openai-web/cmd/time/main.go
  openai-web/go.mod
  openai-web/go.sum
Due: openai-web

Added costom tool in adk agent
  openai-web/agentic/agents/time_agent.go
  openai-web/agentic/agents/weather_agent.go
  openai-web/cmd/time/main.go
  openai-web/go.mod
Due: openai-web

Minimize the agent invocation process.
  openai-web/cmd/weather/main.go
Due: openai-web

Added mcp as tool to adk agent
  openai-web/agentic/agents/msdoc_agent.go
  openai-web/go.mod
  openai-web/go.sum
Due: openai-web

Path conditions:
  aws-web: any of: aws-web/.*
  identity-center: any of: identity-center/.*
  openai-web: any of: openai-web/.*
  infr-project: any of: infr-project/.*
  alphavantage-server: any of: alphavantage-server/.*
