Repository futugyou/goproject: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws-web, identity-center, openai-web, infr-project, alphavantage-server

Refactor ChromaDB embedder adapter to use new embeddings package and simplify conversion logic THIS is v2 api
  openai-web/eino_extensions/indexer/chroma/embedding.go
  openai-web/eino_extensions/indexer/chroma/indexer.go
Due: openai-web

Update ChromaDB indexer to use v2 API with improved collection handling and metadata support
  openai-web/eino_extensions/graph/indexer.go
  openai-web/eino_extensions/indexer/chroma/indexer.go
Due: openai-web

Update ChromaDB indexer to use environment variables for connection config and simplify API calls
  openai-web/eino_extensions/indexer/chroma/indexer.go
  openai-web/go.mod
  openai-web/go.sum
Due: openai-web

Update ChromaDB retriever to use v2 API with environment-based client config and simplified query interface
  openai-web/eino_extensions/graph/indexer.go
  openai-web/eino_extensions/graph/retriever.go
  openai-web/eino_extensions/retriever/chroma/embedding.go
  openai-web/eino_extensions/retriever/chroma/retriever.go
Due: openai-web

Add error handling for mcpTools retrieval in graph tools node
  openai-web/eino_extensions/graph/tool.go
Due: openai-web

Enable CGO in Vercel build config for Linux/amd64
  openai-web/vercel.json
Due: openai-web

Updated fake workflow Because of the issue of vercel sdk, use fake workflow instead
  .github/workflows/empty-preview.yml
  alphavantage-server/go.mod
  alphavantage-server/go.sum
Due: alphavantage-server

Added vercel log to sdk
  vercel_sdk/log.go
  vercel_sdk/vercel.go
Due: none

Added a flag to determine whether user initialization is required
  identity-center/user/user.go
Due: identity-center

Added method to print masked mongodb url
  identity-center/api/auth.go
  identity-center/api/authorize.go
  identity-center/api/cron.go
  identity-center/api/jwkpoint.go
  identity-center/api/login.go
  identity-center/server/oauth_handler.go
  identity-center/server/oauth_server.go
  identity-center/token/jwt_access.go
  identity-center/user/user.go
Due: identity-center

Added log when mongo init
  identity-center/server/oauth_server.go
  identity-center/session/mongo_store.go
  identity-center/token/jwks.go
Due: identity-center

Updated identity login.html show header for trace
  identity-center/api/login.go
  identity-center/server/oauth_server.go
  identity-center/static/login.html
Due: identity-center

Updated identity, support baseurl
  identity-center/.env.templete
  identity-center/api/auth.go
  identity-center/api/login.go
  identity-center/server/oauth_handler.go
  identity-center/server/oauth_server.go
  identity-center/static/auth.html
  identity-center/static/login.html
Due: identity-center

Updated alphavantage news api add paging to all news search
  alphavantage-server/api/news.go
Due: alphavantage-server

Remove assistant api openai go sdk will delete it
  yomawari/extensions_ai/openai/assistantclient.go
  yomawari/extensions_ai/openai/chatclient.go
  yomawari/extensions_ai/openai/embeddinggenerator.go
  yomawari/extensions_ai/openai/mapper.go
  yomawari/extensions_ai/openai/responsechatclient.go
  yomawari/extensions_ai/openai/speechClient.go
  yomawari/go.mod
  yomawari/go.sum
  yomawari/main.go
Due: none

Remove auth client util from identity client to here identity client/server need redesign
  extensions/auth_mongo_client.go
  extensions/go.mod
  extensions/go.sum
Due: none

Fixed S1009
  extensions/http.go
  extensions/http_async.go
Due: none

Added mask to aws acount AccessKeyId/SecretAccessKey
  aws-web/services/accounts.go
Due: aws-web

Updated account api, only create/update/delete need auth check account state
  aws-web/api/account.go
  aws-web/vercel/oauth.go
Due: aws-web

Updated auth logic
  aws-web/api/ecsservice.go
  aws-web/api/iam.go
  aws-web/api/keyvalue.go
  aws-web/api/s3bucket.go
  aws-web/services/iam.go
Due: aws-web

Updated aws config service
  aws-web/api/keyvalue.go
  aws-web/repository/mongorepo/awsconfig.go
  aws-web/services/awsconfig.go
Due: aws-web

Updated aws config sync workflow
  .github/workflows/syncdata.yml
  aws-web/action.yml
  aws-web/main.go
  aws-web/services/awsconfig_init.go
Due: aws-web

Added account masked service
  aws-web/services/accounts.go
Due: aws-web

Updated mongdb oauth client
  extensions/auth_mongo_client.go
Due: none

Updated auth contronller
  aws-web/api/parameter.go
  aws-web/api/s3bucket.go
  aws-web/api/ssm.go
  aws-web/services/accounts.go
  aws-web/services/parameters.go
  aws-web/vercel/oauth.go
Due: aws-web

Added masked parameter to account search
  aws-web/api/account.go
  aws-web/go.mod
  aws-web/go.sum
  aws-web/services/accounts.go
  aws-web/services/awsconfig_init.go
  aws-web/services/ecscluster.go
  aws-web/services/ecscluster_sync.go
  aws-web/services/iam.go
  aws-web/services/parameters.go
  aws-web/services/parameters_sync.go
  aws-web/services/s3bucket.go
  aws-web/services/s3bucket_init.go
  aws-web/services/ssm.go
  aws-web/vercel/oauth.go
Due: aws-web

Added collectionName to base repository
  aws-web/repository/mongorepo/respository.go
Due: aws-web

Updated aws config repository use new base repository with collection name
  aws-web/repository/mongorepo/awsconfig.go
Due: aws-web

Remove duplicate aws config entity
  aws-web/services/awsconfig_init.go
  aws-web/services/awsconfig_relationship.go
Due: aws-web

Updated platform convert
  infr-project/.vscode/launch.json
  infr-project/application/platform_convert.go
Due: infr-project

Added new route to get provider project list
  infr-project/api/platform.go
  infr-project/application/platform.go
  infr-project/controller/platform.go
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
  infr-project/routes/v1/platform-routes.go
  infr-project/vercel.json
Due: infr-project

Added tags to provider project
  infr-project/application/platform_convert.go
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
  infr-project/platform_provider/github.go
  infr-project/platform_provider/provider.go
  infr-project/view_models/platform.go
Due: infr-project

Added tags to platform project
  infr-project/application/platform.go
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
  infr-project/platform/project.go
  infr-project/platform/serialization_project.go
  infr-project/view_models/platform.go
Due: infr-project

Added convert to change provider project to platform project entity
  infr-project/application/platform_convert.go
Due: infr-project

Added new platform service to import projects from provider
  infr-project/application/platform.go
Due: infr-project

Updated fwt provider projects handle error
  infr-project/application/platform.go
Due: infr-project

Added route for provider projects import
  infr-project/api/platform.go
  infr-project/controller/platform.go
  infr-project/docs/docs.go
  infr-project/docs/swagger.json
  infr-project/docs/swagger.yaml
  infr-project/routes/v1/platform-routes.go
  infr-project/vercel.json
Due: infr-project

Updated import projects from provider handling existing data
  infr-project/application/platform.go
Due: infr-project

Updated provider projects import check provider project id existing
  infr-project/application/platform.go
Due: infr-project

Added readme to provider project only github have readme now
  infr-project/application/platform.go
  infr-project/platform_provider/github.go
  infr-project/platform_provider/provider.go
Due: infr-project

Path conditions:
  aws-web: any of: aws-web/.*
  identity-center: any of: identity-center/.*
  openai-web: any of: openai-web/.*
  infr-project: any of: infr-project/.*
  alphavantage-server: any of: alphavantage-server/.*
