Repository futugyou/goproject: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws-web, identity-center, openai-web, infr-project, alphavantage-server

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  dispatch:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: workflow-dispatch
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            aws-web/.* aws-web true
            identity-center/.* identity-center true
            openai-web/.* openai-web true
            infr-project/.* infr-project true
            alphavantage-server/.* alphavantage-server true
          base-revision: master
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/workflow.yml

Use the separate console launcher
  openai-web/cmd/msdoc/main.go
Due: openai-web

Create simple convert to ADK and AG-UI.
  openai-web/agentic/agentic.go
  openai-web/agentic/call.go
Due: openai-web

Added empty callback handler
  openai-web/agentic/call.go
  openai-web/agentic/handler.go
Due: openai-web

Updated handler, process adk callback
  openai-web/agentic/handler.go
Due: openai-web

Updated ag-ui handler, process message receive
  openai-web/agentic/handler.go
Due: openai-web

Modified the model end callback event, adding closing logic.
  openai-web/agentic/handler.go
Due: openai-web

Updated setup-node version, fix markdown format check error
  .github/workflows/markdownlint.yml
Due: none

Manually added delay due to Alpha Vantage limitations (1 request per second).
  alphavantage-server/main.go
Due: alphavantage-server

Fixed typo in stock month functions and switched from intraday to daily API due to premium restrictions
  alphavantage-server/stock-series/month.go
  alphavantage-server/stock-series/series.go
Due: alphavantage-server

Added simulated delay to all api call
  alphavantage-server/commodities/commodities.go
  alphavantage-server/main.go
  alphavantage-server/stock/sync.go
Due: alphavantage-server

Use http Transport instead of time.Sleep
  alphavantage-server/commodities/commodities.go
  alphavantage-server/go.mod
  alphavantage-server/go.sum
  alphavantage-server/main.go
  alphavantage-server/stock/sync.go
  alphavantage/go.mod
  alphavantage/go.sum
  alphavantage/http.go
Due: alphavantage-server

Updated github action version
  .github/workflows/dependabot-auto.yml
Due: none

Refactor HTTP client with shared transport and error handling
  alphavantage/http.go
Due: none

Fixed design errors in the ddd project.
  domaincore/application/event_dispatcher.go
  domaincore/application/service.go
  domaincore/domain/event_store.go
  domaincore/domain/snapshot_store.go
  domaincore/qstashdispatcherimpl/dispatcher.go
  infr-project/microservices/platformservice/application/project.go
  infr-project/microservices/platformservice/application/service/eventhandler.go
  infr-project/microservices/platformservice/infrastructure/eventhandler.go
  infr-project/microservices/resourceservice/application/resource.go
  infr-project/microservices/vaultservice/application/vault.go
  infr-project/registry/component/event_store_mongo.go
  infr-project/registry/component/publisher_qstash.go
  infr-project/registry/event_store/registry.go
  infr-project/registry/publisher/registry.go
  infr-project/registry/snapshot_store/registry.go
Due: infr-project

Add REST API server with weather agent integration
  openai-web/cmd/rest/main.go
Due: openai-web

Add loop agent implementation with weather agent integration
  openai-web/cmd/loop/main.go
Due: openai-web

Add parallel agent implementation with weather and document agents integration
  openai-web/cmd/parallel/main.go
Due: openai-web

Add sequential agent implementation with weather and time agents integration
  openai-web/cmd/sequential/main.go
Due: openai-web

Adjust API rate limiting and add retry mechanism for HTTP client
  alphavantage/http.go
Due: none

Refactor model initialization into shared models package
  openai-web/agentic/agents/msdoc_agent.go
  openai-web/agentic/agents/time_agent.go
  openai-web/agentic/agents/weather_agent.go
  openai-web/agentic/call.go
  openai-web/agentic/models/model.go
Due: openai-web

Fixed sigs.k8s.io/controller-runtime version upgrade
  k8sbuilder/api/batch/v1/cronjob_webhook.go
  k8sbuilder/api/batch/v2/cronjob_webhook.go
Due: none

Update config handling and logging in openai-web
  .circleci/workflow.yml
  .gitignore
  openai-web/api/agui.go
  openai-web/conf/app.conf
  openai-web/conf/app.conf.templete
  openai-web/swagger/index.html
Due: openai-web

Refactor SSE streaming and add local server setup in openai-web
  openai-web/agentic/agentic.go
  openai-web/agentic/call.go
  openai-web/api/agui.go
  openai-web/cmd/web.go
  openai-web/vercel.json
Due: openai-web

Refactor agentic handler and cleanup lifecycle
  openai-web/agentic/handler.go
Due: openai-web

Optimize text message streaming by only sending chunks when partial is true
  openai-web/agentic/handler.go
Due: openai-web

Refactor tool call events to use streaming chunks instead of start/args/end
  openai-web/agentic/handler.go
Due: openai-web

Refactor error handling and add centralized error event management
  openai-web/agentic/call.go
  openai-web/agentic/handler.go
Due: openai-web

Refactor SSE streaming and cleanup unused flusher logic
  openai-web/api/agui.go
Due: openai-web

Refactor error handling and add panic recovery in AguiHandler
  openai-web/api/agui.go
Due: openai-web

Refactor agentic input handling to use structured AgenticInput type
  openai-web/agentic/agentic.go
  openai-web/agentic/call.go
  openai-web/agentic/input.go
  openai-web/api/agui.go
  openai-web/go.mod
  openai-web/go.sum
Due: openai-web

Refactor SSE writer initialization and remove unused event dependencies
  openai-web/agentic/agentic.go
  openai-web/api/agui.go
Due: openai-web

Refactor handler initialization to support custom thread and run IDs from AgenticInput
  openai-web/agentic/call.go
  openai-web/agentic/handler.go
Due: openai-web

Added adk light agent
  openai-web/agentic/agents/light_agent.go
Due: openai-web

Added agent factory
  openai-web/agentic/agents/factory.go
Due: openai-web

Added base adk llm agent config
  openai-web/agentic/agents/config.go
  openai-web/agentic/agents/handler.go
  openai-web/agentic/call.go
Due: openai-web

Updated llm agent config
  openai-web/agentic/agents/config.go
  openai-web/agentic/agents/handler.go
Due: openai-web

Added handler to agent and agent factory
  openai-web/agentic/agents/factory.go
  openai-web/agentic/agents/light_agent.go
  openai-web/agentic/agents/msdoc_agent.go
  openai-web/agentic/agents/time_agent.go
  openai-web/agentic/agents/weather_agent.go
  openai-web/cmd/loop/main.go
  openai-web/cmd/msdoc/main.go
  openai-web/cmd/parallel/main.go
  openai-web/cmd/rest/main.go
  openai-web/cmd/sequential/main.go
  openai-web/cmd/time/main.go
  openai-web/cmd/weather/main.go
Due: openai-web

Refactor agent initialization to support dynamic agent selection by ID
  openai-web/agentic/call.go
  openai-web/agentic/input.go
  openai-web/api/agui.go
  openai-web/vercel.json
Due: openai-web

Refactor agent creation to pass LLM model as parameter instead of fetching internally
  openai-web/agentic/agents/factory.go
  openai-web/agentic/agents/light_agent.go
  openai-web/agentic/agents/msdoc_agent.go
  openai-web/agentic/agents/time_agent.go
  openai-web/agentic/agents/weather_agent.go
  openai-web/agentic/call.go
  openai-web/api/agui.go
  openai-web/cmd/loop/main.go
  openai-web/cmd/msdoc/main.go
  openai-web/cmd/parallel/main.go
  openai-web/cmd/rest/main.go
  openai-web/cmd/sequential/main.go
  openai-web/cmd/time/main.go
  openai-web/cmd/weather/main.go
Due: openai-web

Added newconfig API route to vercel.json
  aws-web/vercel.json
Due: aws-web
